/* LandingPage.css */
.landing-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url('landingBackground.avif');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 20px;
    font-family:'Cinzel',serif ;
    font-weight:bold;
  }
  .quest{
    margin-bottom: 5px;
    font-size: 30px;
  }
  .beyond{
    margin-bottom: 5px;
    font-size: 35px;
    margin-top: 5px;
  }
  .the{
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .wall{
    margin-top: 5px;
    font-size:30px ;
  }
  .description p {
    font-size: 18px;
    color: #ddd;
    margin: 10px 0;
    margin-top: 40%;
    font-family:'Cinzel',serif ;
    font-weight:bold;
  }
  
 
  .description button {
    border: 1px solid #555; /* Dark border */
    background-color: #c4a719; /* Gold base color */
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), /* Highlight */
                inset 0 -1px 3px rgba(0, 0, 0, 0.3), /* Depth */
                0 3px 6px rgba(0, 0, 0, 0.5), /* Outer shadow for a worn look */
                1px 1px 4px rgba(0, 0, 0, 0.6); /* Rough shadow edges */
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 30px;
    font-family: 'Cinzel',serif;
  
  }